* {
  margin: 0;
  box-sizing: border-box;
}

/*
.main:nth-of-type(1) {
  width: 300px;
  height: 400px;
  background-color: #87ceeb;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.main:nth-of-type(2) {
  width: 300px;
  height: 400px;
  background-color: #6c6c6c;

}

.main:nth-of-type(3) {
  width: 300px;
  height: 400px;
  background-color: #ff0000;
} */

.main:nth-of-type(1) {
  margin: auto;
  width: 300px;
  height: 200px;
  /*background-color: #87ceeb;*/
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  /*display: block; defaultna vrednost */
  /*display: inline;  ako je display inline onda gubimo mogucnost definisanja odredjenih stilova kao sto su width,height,margin,padding ,...  */
  /*display: inline-block;       */
}

.main:nth-of-type(2) {
  background-color: red;
  width: 300px;
  height: 200px;
  /*visibility: hidden; hidden ce sakriti sadrzaj,ali i dalje zauzima prostor na stranici.       */
  visibility: hidden;
  /* Najbolje je koristiti display nacin */
  overflow: hidden;
  /*display:none je jedan od nacina da sakrijemo sadrzaj na stranici*/
}

.main:nth-of-type(3) {
  background-color: rgb(116, 116, 116);
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.main {
  line-height: 35px;
  /* line-height sluzi za razmak izmedju redova */
}

.second {
  margin: auto;
  width: 700px;
  color: white;
  text-align: center;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: moze i po pixelima*/
  /* background-size: 100% jedna vrednost predstavlja sirinu */
  /* druga vrednost predstavlja visinu*/
  background-image: url(https://www.adobe.com/express/create/background/media_1f567ece896acb3fa96b8f7d730a9a236727c1c88.jpeg?width=400&format=jpeg&optimize=medium);
  /* background-image: url; mozemo imati vise pozadina od jedne    */
  background-size: 100% 50%, 100% 100%;
  /* background size mozemo koristiti za vise slika od jedne,druga vrednost */
}
