* {
  margin: 0;
}

body {
  background-color: #cccccc;
}

.header-1 {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* Font Slova za Hanan Market */

.header-1 a {
  float: left;
  font-weight: bold;
  color: #151562;
  text-align: center;
  font-family: "Courgette", cursive;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}

.header-1 a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-1 a:hover {
  background-color: #ff8400;
  color: #ffffff;
  transition: all 0.6s ease-in-out;
  padding: 0.7rem;
}

.header-2 {
  float: right;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header-1 a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Hanan Market Glavno */
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

.hanan-glavno {
  color: #151562;
  text-align: center;
  margin: 50px;
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Suez One", serif;
}

/* Hanan Paragraf */

.hanan-paragraf {
  color: #ffffff;
  text-align: justify;
  margin-left: 5%;
  font-weight: bold;
  font-family: "Suez One", serif;
  width: 20%;
  height: 50%;
  border: 5px solid #000000;
  text-align: center;
  padding: 5px;
}

/*a:visited {
  float: left;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-family: "Courgette", cursive;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  border-radius: 10px;
}
*/
/*Ovo sluzi da ako 2 put udjete na sajt zelite da ne ostane isto*/

.header-1 a:active {
  color: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

.glavna-strana {
  font-family: "Crete Round", serif;
  float: left;
  margin-top: 10rem;
  margin-left: 20%;
}

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.facebook-h3 {
  color: #0000ff;
  font-size: 50px;
  font-weight: bold;
  font-family: "Crete Round", serif;
  font-family: "Acme", sans-serif;
}

.facebook-h4 {
  color: rgb(0, 0, 0);
  font-family: "Crete Round", serif;
}

.login-forma {
  float: right;
  margin-top: 10rem;
  margin-right: 20%;
}

input {
  text-transform: capitalize;
  background-color: white;
  color: black;
  font-weight: bold;
}

button {
  color: white;
  background-color: rgb(0, 2, 128);
  height: 50px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(34, 125, 36);
  transition: all 0.7s ease-in-out;
}
